<!DOCTYPE html>
<html>
  <head>
    <title>Drone Delivery</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

    <style>
      html,
      body,
      #map_canvas {
        height: 100%;
        width: 100%;
        margin: 0px;
        padding: 0px;
      }
    </style>
  </head>
  <body>
    <div id="map_canvas"></div>
    <script src="assets/ok.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGNFsvRxrPWxm3at6ub4Ohjr98EqqTMUs&callback=initMap&libraries=&v=weekly"></script>
  </body>
</html>
